<%- include('../partials/header'); %>


    <main class="main">

        <!-- Pricing Section -->
        <section id="pricing" class="pricing section mt-5">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>History</h2>
                <div class="container">

                    <div class="row gy-4">
                        <% if (Array.isArray(addressData)&&addressData.length>0) { %>
                            <% addressData.forEach(function(Address){ %>

                                <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
                                    <div class="pricing-item">
                                        <h3>Transaction ID : <%= Address.transactionId %>
                                        </h3>
                                        <p class="description">Amount : <%= Address.amount %>
                                        </p>
                                        <p class="description">Sender : <%= Address.sender %>
                                        </p>
                                        <p class="description">Recipient : <%= Address.recipient %>
                                        </p>

                                    </div>
                                </div><!-- End Pricing Item -->
                                <% }); %>
                                    <% } else { %>
                                        <h3>No Transaction History</h3>
                                        <% } %>
                    </div>

                </div>
            </div><!-- End Section Title -->



        </section><!-- /Pricing Section -->


    </main>

    <footer id="footer" class="footer position-relative light-background">

        <div class="container copyright text-center mt-4">
            <p>© <span>Copyright</span> <strong class="px-1 sitename">QuickStart</strong><span>All Rights
                    Reserved</span></p>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you've purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>

    </footer>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

<%- include('../partials/footer'); %>