<%- include('../partials/header'); %>

    <main class="main">

        <!-- Pricing Section -->
        <section id="pricing" class="pricing section mt-5">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Profile</h2>
                <div class="container">

                    <div class="row gy-4">
                        <% if (account) { %>
                            <div class="col-lg-12" data-aos="zoom-in" data-aos-delay="100">
                                <div class="pricing-item">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon3">Account ID Private :</span>
                                        <input type="text" class="form-control" disabled id="basic-url"
                                            aria-describedby="basic-addon3" value="<%= account.privateKey %>"
                                            name="privateKey">
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon3">Account ID Public :</span>
                                        <input type="text" class="form-control" disabled id="basic-url"
                                            aria-describedby="basic-addon3" value="<%= account.publicKey %>"
                                            name="publicKey">
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon3">Name :</span>
                                        <input type="text" class="form-control" id="basic-url"
                                            aria-describedby="basic-addon3" value=" <%= account.name %>" name="name">
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon3">Password</span>
                                        <input type="password" class="form-control" id="basic-url"
                                            aria-describedby="basic-addon3" value="<%= account.password %>"
                                            name="password">
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Key01" name="key01"
                                            aria-label="Username">
                                        <span class="input-group-text">key01 & key02</span>
                                        <input type="text" class="form-control" placeholder="Key02" name="key02"
                                            aria-label="Server">
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Key03"
                                            aria-label="Username" name="key03">
                                        <span class="input-group-text">Key03 & Key04</span>
                                        <input type="text" class="form-control" placeholder="Key04" name="key04"
                                            aria-label="Server">
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Key05"
                                            aria-label="Username" name="key05">
                                        <span class="input-group-text">Key05 & Key06</span>
                                        <input type="text" class="form-control" placeholder="Key06" aria-label="Server"
                                            name="key06">
                                    </div>
                                    <button class="btn btn-success" onclick="loadDoc()">Change</button>
                                </div>
                            </div><!-- End Pricing Item -->
                            <% } %>

                    </div>

                </div>
            </div><!-- End Section Title -->



        </section><!-- /Pricing Section -->


    </main>

    <footer id="footer" class="footer position-relative light-background">

        <div class="container copyright text-center mt-4">
            <p>© <span>Copyright</span> <strong class="px-1 sitename">QuickStart</strong><span>All Rights
                    Reserved</span></p>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you've purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>

    </footer>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>
    <script>
        $("[name='password' ]").val("");
        function loadDoc() {
            let name = $(" [name='name' ]").val();
            let password = $("[name='password' ]").val();
            let privateKey = $("[name='privateKey' ]").val();
            let publicKey = $("[name='publicKey' ]").val();
            let key01 = $("[name='key01' ]").val();
            let key02 = $("[name='key02' ]").val();
            let key03 = $("[name='key03' ]").val();
            let key04 = $("[name='key04' ]").val();
            let key05 = $("[name='key05' ]").val();
            let key06 = $("[name='key06' ]").val();
            console.log("on LoadDoc")
            if (name.trim().length <= 0) {
                alert("Name cannot be empty");
                return;
            }
            if (password.trim().length <= 0) {
                alert("Password cannot be empty");
                return;
            }
            if (key01.trim().length <= 0) {
                alert("Key01 cannot be empty");
                return;
            }
            if (key02.trim().length <= 0) {
                alert("Key02 cannot be empty");
                return;
            }
            if (key03.trim().length <= 0) {
                alert("Key03 cannot be empty");
                return;
            }
            if (key04.trim().length <= 0) {
                alert("Key04 cannot be empty");
                return;
            }
            if (key05.trim().length <= 0) {
                alert("Key05 cannot be empty");
                return;
            }
            if (key06.trim().length <= 0) {
                alert("Key06 cannot be empty");
                return;
            }

            axios.post('/account/change', {
                name: name,
                password: password,
                privateKey: privateKey,
                publicKey: publicKey,
                key01: key01,
                key02: key02,
                key03: key03,
                key04: key04,
                key05: key05,
                key06: key06
            })
                .then((result) => {
                    if (result.status == 200) {
                        alert(result.data.note)
                    $(" [name='name' ]").val("");
                    $("[name='password' ]").val("");
                    $("[name='key01' ]").val("");
                    $("[name='key02' ]").val("");
                    $("[name='key03' ]").val("");
                    $("[name='key04' ]").val("");
                    $("[name='key05' ]").val("");
                    $("[name='key06' ]").val("");
                    return;
                }
                alert(result.data);
                }).catch((err) => {
                    alert("Invalid Key 01 - 06 please re-check!!!")
                });

        }

    </script>
    <%- include('../partials/footer'); %>